In [ ]:
1. combine dataset 
2. find patient die or not any Time
3. When  did diagnose and when die 
4. Survial analysis chart run 
5. find the correlation between the time of diagnosis and the time of death

## What Does Time-to-Event Mean?

In survival analysis, time-to-event refers to the amount of time from a defined starting point (e.g., admission) until a specific event of interest occurs (e.g., death, readmission, relapse, recovery).

## In your HCUP data context:

Start time: Admission to the hospital.

Event: In-hospital death (died == 1).

Time-to-event: The value in daystoevent, which represents how many days it took from admission until the patient died.

## For patients who did not die:

Their died == 0

daystoevent represents the time they were observed without the event ‚Üí this is called censoring

In [53]:
# locading database
import pandas as pd

df = pd.read_csv('../data/Lung_Cancer_one_hot/md_sid_one_hot_encoding_core_Lung_Cancer.csv')
# Drop rows with invalid visitlink
df = df[df["visitlink"] != -99999999]

# Confirm they're gone
print("Any -99999999 left?", (-99999999 in df["visitlink"].values))

C:\Users\llmserver\AppData\Local\Temp\ipykernel_5616\1097306792.py:4: DtypeWarning: Columns (52,53,54,55,56,114,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,167,171,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/Lung_Cancer_one_hot/md_sid_one_hot_encoding_core_Lung_Cancer.csv')

Any -99999999 left? False

In [54]:
df.shape

(28733, 864)

# What Does the `atype` Variable Mean?

| `atype` | Meaning                        |
| ------- | ------------------------------ |
| 1       | **Emergency** (e.g., ER visit) |
| 2       | **Urgent**                     |
| 3       | **Elective**                   |
| 4       | **Newborn**                    |
| 5       | **Trauma Center**              |
| 6       | **Other**                      |
| .       | Missing / invalid / unknown    |


# what does the `readmit` variable mean?

| `readmit` | Meaning                               |
| --------- | ------------------------------------- |
| 1         | Yes ‚Äî this visit is a **readmission** |
| 0         | No ‚Äî this is **not** a readmission    |
| . or NaN  | Missing or not applicable             |


# what does the `died` variable mean?

| `died`   | Meaning                               |
| -------- | ------------------------------------- |
| 1        | Yes ‚Äî patient **died in hospital**    |
| 0        | No ‚Äî patient was **discharged alive** |
| . or NaN | Missing data (rare)                   |


# what does the `discharge` variable mean?

| Code | Meaning                                         |
| ---- | ----------------------------------------------- |
| 1    | Discharged to **home/self-care**                |
| 2    | Short-term hospital                             |
| 3    | Skilled nursing facility (SNF)                  |
| 4    | Intermediate care facility                      |
| 5    | Another type of facility                        |
| 6    | **Home health care**                            |
| 7    | **Left against medical advice (AMA)**           |
| 20   | **Died in hospital**                            |
| 21   | Discharged/transferred to court/law enforcement |
| 30   | Still a patient                                 |
| .    | Missing / invalid                               |

### ‚úÖ Step 1: Group to get `start_day` (first admission day)

```python
start_day_map = df.groupby("visitlink")["daystoevent"].min().rename("start_day")
```

* **Purpose**: Find the **earliest `daystoevent`** for each patient (first admission).
* `.groupby("visitlink")` makes sure you're grouping all visits per patient.
* `.min()` returns the **first admission day**.

---

### ‚úÖ Step 2: Group to get `death_day` (death event day)

```python
death_day_map = df[df["died"] == 1].groupby("visitlink")["daystoevent"].max().rename("death_day")
```

* **Purpose**: For patients who died (`died == 1`), find their **last visit day** (death day).
* This uses `.groupby("visitlink")` to get the **latest visit** where the death occurred.
* `.max()` is used to get the latest daystoevent for that patient.

---

### üîÅ Then, these two grouped Series are merged back:

```python
df = df.merge(start_day_map, on="visitlink", how="left")
df = df.merge(death_day_map, on="visitlink", how="left")
```

Each row in the DataFrame gets the corresponding `start_day` and `death_day` based on its `visitlink`.

In [55]:
import pandas as pd

# === Load your DataFrame (assuming it's already loaded as df) ===
# Example: df = pd.read_csv("your_file.csv")

# === Step 1: Get first admission day (start_day) for each visitlink ===
start_day_map = df.groupby("visitlink")["daystoevent"].min().rename("start_day")

# === Step 2: Get death_day for each visitlink (only where patient died) ===
death_day_map = df[df["died"] == 1].groupby("visitlink")["daystoevent"].max().rename("death_day")

# === Step 3: Merge start_day and death_day into original dataframe ===
df = df.merge(start_day_map, on="visitlink", how="left")
df = df.merge(death_day_map, on="visitlink", how="left")

# === Step 4: Calculate time_to_death ===
df["time_to_death"] = df["death_day"] - df["start_day"]

# === Step 5: Define columns to display ===
columns_to_show = [
    "visitlink", "ayear", "daystoevent", "los", "died",
    "atype", "dispuniform", "readmit", "start_day", "death_day", "time_to_death"
]

# === Step 6: Filter only patients who died and export to CSV ===
df_died = df[df["died"] == 1]
df_died[columns_to_show].to_csv("../data/Lung_Cancer_one_hot/time_to_death_Lung_Cancer_died.csv", index=False)

# === Step 7: Optional display ===
print("\n‚ò†Ô∏è Patients who died:")
df_died[columns_to_show].head(50)

‚ò†Ô∏è Patients who died:

,visitlink,ayear,daystoevent,los,died,atype,dispuniform,readmit,start_day,death_day,time_to_death
13,1824304,2016,19933,2,1,1,20,1,19933,19933.0,0.0
38,1825802,2017,20295,4,1,1,20,0,20203,20295.0,92.0
41,1826120,2019,16568,8,1,1,20,0,16568,16568.0,0.0
49,1826910,2017,15912,2,1,1,20,1,15871,15912.0,41.0
54,1827537,2017,16820,2,1,1,20,0,16820,16820.0,0.0
55,1827619,2015,18837,2,1,1,20,0,18837,18837.0,0.0
60,1827663,2019,20183,9,1,1,20,0,19178,20183.0,1005.0
141,1837746,2018,16181,5,1,1,20,0,15927,16181.0,254.0
178,1841221,2017,19537,10,1,1,20,0,19537,19537.0,0.0
182,1841539,2019,16308,0,1,1,20,1,16097,16308.0,211.0
186,1841945,2017,17297,0,1,1,20,0,16876,17297.0,421.0
192,1842276,2016,20553,1,1,1,20,0,20553,20553.0,0.0
206,1843954,2017,16933,7,1,1,20,0,16933,16933.0,0.0
213,1845290,2017,18012,11,1,1,20,0,18012,18012.0,0.0
228,1847930,2016,19858,1,1,1,20,0,19858,19858.0,0.0
252,1850262,2017,18977,6,1,1,20,0,18977,18977.0,0.0
256,1850356,2018,17261,12,1,1,20,0,17117,17261.0,144.0
290,1852469,2016,17674,5,1,1,20,0,17674,17674.0,0.0
292,1852677,2017,20601,13,1,1,20,0,20601,20601.0,0.0
325,1856273,2016,15675,2,1,1,20,1,15609,15675.0,66.0
327,1856399,2018,17037,5,1,2,20,0,17037,17037.0,0.0
335,1857187,2016,15943,6,1,1,20,0,15876,15943.0,67.0
344,1858630,2016,17693,1,1,1,20,0,17693,17693.0,0.0
354,1859963,2017,17696,17,1,1,20,0,17696,17696.0,0.0
355,1860410,2019,21508,37,1,1,20,0,21508,21508.0,0.0
356,1860411,2018,18478,15,1,2,20,0,18478,18478.0,0.0
401,1864755,2018,19662,4,1,3,20,0,19602,19662.0,60.0
407,1864980,2016,17567,5,1,2,20,1,17567,17567.0,0.0
423,1867863,2016,17279,7,1,1,20,0,17118,17279.0,161.0
428,1869107,2016,16471,4,1,1,20,0,16424,16471.0,47.0
443,1871193,2015,18188,5,1,1,20,0,18188,18188.0,0.0
447,1873142,2018,15918,21,1,1,20,0,15918,15918.0,0.0
456,1876498,2015,17267,42,1,1,20,0,17267,17267.0,0.0
460,1877031,2016,15025,51,1,1,20,0,15025,15025.0,0.0
465,1878064,2018,18573,17,1,1,20,0,18481,18573.0,92.0
469,1878554,2017,15323,3,1,1,20,1,15127,15323.0,196.0
472,1879352,2017,19847,14,1,1,20,0,19780,19847.0,67.0
473,1879672,2018,15468,11,1,1,20,0,15468,15468.0,0.0
486,1883815,2018,21304,3,1,1,20,0,20785,21304.0,519.0
490,1889786,2016,18091,5,1,1,20,0,18091,18091.0,0.0
499,1893008,2018,15976,4,1,1,20,0,15976,15976.0,0.0
502,1893678,2017,16731,4,1,1,20,1,16310,16731.0,421.0
507,1895972,2019,18245,5,1,2,20,0,18231,18245.0,14.0
514,1897901,2016,15092,10,1,1,20,1,15092,15092.0,0.0
533,1899623,2018,15754,17,1,1,20,1,15720,15754.0,34.0
547,1904976,2017,15263,8,1,1,20,0,15258,15263.0,5.0
554,1906301,2017,19323,6,1,3,20,0,19194,19323.0,129.0
557,1907002,2017,16951,7,1,6,20,1,16948,16951.0,3.0
588,1908481,2016,15161,3,1,2,20,0,15161,15161.0,0.0
597,1909435,2018,15584,2,1,6,20,1,15582,15584.0,2.0

In [52]:
# read the csv file

data_death = pd.read_csv("../data/Lung_Cancer_one_hot/time_to_death_Lung_Cancer_died.csv")

data_death.value_counts("time_to_death")

time_to_death
0.0       1082
16.0        25
14.0        21
11.0        21
19.0        19
          ...
1043.0       1
1063.0       1
1142.0       1
1236.0       1
1005.0       1
Name: count, Length: 407, dtype: int64

In [45]:
# === Step 2: Extract death_day for each visitlink (only where patient died) ===
death_day_map = df[df["died"] == 1].groupby("visitlink")["daystoevent"].max().rename("death_day")

# === Step 3: Merge death_day into original dataframe ===
df = df.merge(death_day_map, on="visitlink", how="left")

# === Step 4: Calculate time_to_death ===
df["time_to_death"] = df["death_day"] - df["daystoevent"]

# === Step 5 (Optional): Define what to show ===
columns_to_show = [
    "visitlink", "ayear", "daystoevent", "los", "died",
    "atype", "dispuniform", "readmit", "death_day", "time_to_death"
]



# === Optional: Filter rows where patient died (died == 1) ===
df_died = df[df["died"] == 1]
print("\n‚ò†Ô∏è Patients who died:")
df_died[columns_to_show].to_csv("../data/Lung_Cancer_one_hot/time_to_death_Lung_Cancer_died.csv", index=False)
df_died[columns_to_show]

‚ò†Ô∏è Patients who died:

,visitlink,ayear,daystoevent,los,died,atype,dispuniform,readmit,death_day,time_to_death
13,1824304,2016,19933,2,1,1,20,1,19933.0,0.0
38,1825802,2017,20295,4,1,1,20,0,20295.0,0.0
41,1826120,2019,16568,8,1,1,20,0,16568.0,0.0
49,1826910,2017,15912,2,1,1,20,1,15912.0,0.0
54,1827537,2017,16820,2,1,1,20,0,16820.0,0.0
...,...,...,...,...,...,...,...,...,...,...
28695,13978890,2019,18791,12,1,1,20,0,18791.0,0.0
28696,13979209,2019,18871,8,1,6,20,1,18871.0,0.0
28697,13979492,2019,17138,2,1,1,20,0,17138.0,0.0
28709,13981997,2019,20985,2,1,1,20,0,20985.0,0.0
28715,13983335,2019,18402,4,1,1,20,1,18402.0,0.0

In [39]:
df_died["df_died"].value_counts()

KeyError: 'df_died'

# Sanity check for key variables

In [2]:
# Sanity check for key variables
sanity_df = df[['ayear', 'daystoevent', 'dispuniform', 'visitlink']]

# Check for missing values
print("Missing values:\n", sanity_df.isnull().sum())

Missing values:
 ayear          0
daystoevent    0
dispuniform    0
visitlink      0
dtype: int64

# Unique counts for key variables

In [3]:

print("\nUnique years of admission:", sanity_df['ayear'].unique())
print("\nSample discharge statuses (dispuniform):")
print(sanity_df['dispuniform'].value_counts())

Unique years of admission: [2016 2017 2018 2019 2015]

Sample discharge statuses (dispuniform):
dispuniform
1     12917
6      6509
5      5922
20     2397
2       795
7       201
0        11
99        1
Name: count, dtype: int64

In [4]:
# Check if daystoevent is non-negative
print("\nAny negative daystoevent?:", (sanity_df['daystoevent'] < 0).any())

# Confirm visitlink uniqueness per patient
print("\nTotal unique patients (visitlink):", sanity_df['visitlink'].nunique())

Any negative daystoevent?: True

Total unique patients (visitlink): 16860

In [5]:
# Check for -99999999 in visitlink
invalid_ids = df[df["visitlink"] == -99999999]

# Summary
print("Number of records with visitlink = -99999999:", len(invalid_ids))

Number of records with visitlink = -99999999: 20

Any -99999999 left? False

In [7]:
# Filter only patients who died
died_df = df[df["died"] == 1]
died_df.shape

(2394, 864)

In [8]:
# Summary statistics of daystoevent
print(died_df["daystoevent"].describe())

count     2394.000000
mean     18108.738513
std       1778.327647
min      14453.000000
25%      16635.000000
50%      18055.500000
75%      19673.500000
max      21891.000000
Name: daystoevent, dtype: float64

# DaysToEvent

The data element DaysToEvent is one of two data elements that are supplemental information created for HCUP States for which there are encrypted person identifiers. The timing information in DaysToEvent must be used in tandem with the visit linkage variable (VisitLink). VisitLink is created from verified person numbers. These variables enable users to study multiple hospital visits for the same patient across hospitals and time while adhering to strict privacy regulations.

The timing variable (DaysToEvent) was calculated consistently for each verified person number (visitLink) based on a randomly assigned "start date." Each verified person number is assigned a unique start date that is used to calculate DaysToEvent for all visits associated with that visitLink value. The variable DaysToEvent is the difference between the visit's admission date and the start date associated with the visitLink.

The calculation of days between visits is the difference of DaysToEvent between two selected visits for a unique verified person number (visitLink). For example, consider a patient with congestive heart failure that has a hospital admission on 1/10/2008 and an ED visit on 1/25/2008. If the DaysToEvent value is "9" for the 1/10/2008 admission and the DaysToEvent value is "24" for the 1/25/2008 ED visit, then the number of days between the two visits is 15 days (24 - 9 = 15). It should be noted that often readmission analyses consider the time between the end of one admission and the start on the next admission. To adjust for the length of the admission, subtract the length of stay to the difference. In the example, above, it the first admission had a length of stay of 2 days then the number of days between the end of the first visit and the start of the second visit is 13 days (24 - 9 - 2 = 13).

The lowest value of DaysToEvent will be on the first or earliest event for a patient. It is important to remember that if patient A has a value of 605 for DaysToEvent and patient B has a value of 300 for DaysToEvent, patient B's event did not necessarily take place prior to patient A's event - in fact, Patient B's DaysToEvent value has no relation to Patient A's DaysToEvent value. Because of the use of a random start date in the calculation of DaysToEvent, the value of DaysToEvent cannot be compared across patients.

Beginning with the 2009 HCUP data, the revisit variables (VisitLink and DaysToEvent) are included in the Core file of the SID, SASD, and SEDD files, when possible. For 2003-2008 data, the revisit variables are in separate HCUP Supplemental Files for Revisit Analyses.

In [1]:
from datetime import datetime, timedelta
datetime(1960, 1, 1) + timedelta(days=18837)
# Result: 2011-07-18

datetime.datetime(2011, 7, 29, 0, 0)

In [12]:
import pandas as pd



# Filter patients who died
died_df = df[df["died"] == 1]

# Ensure ayear is valid
df_valid = df[df["ayear"] > 0]

# Step 1: Get first valid admission day and year for each patient who died
first_admission = df_valid[df_valid['visitlink'].isin(died_df['visitlink'])] \
    .groupby('visitlink').agg({
        'daystoevent': 'min',
        'ayear': 'min'
    }).reset_index().rename(columns={
        'daystoevent': 'start_day',
        'ayear': 'start_year'
    })

# Step 2: Get death information (we assume died_df already has valid ayear)
death_info = died_df[['visitlink', 'daystoevent', 'ayear']].rename(columns={
    'daystoevent': 'death_day',
    'ayear': 'death_year'
})

# Step 3: Merge and compute time to death
merged = pd.merge(death_info, first_admission, on='visitlink')
merged['time_to_death'] = merged['death_day'] - merged['start_day']

# Step 4: Output
print(merged[['visitlink', 'start_year', 'death_year', 'start_day', 'death_day', 'time_to_death']].head(20))

    visitlink  start_year  death_year  start_day  death_day  time_to_death
0     1824304        2016        2016      19933      19933              0
1     1825802        2017        2017      20203      20295             92
2     1826120        2019        2019      16568      16568              0
3     1826910        2017        2017      15871      15912             41
4     1827537        2017        2017      16820      16820              0
5     1827619        2015        2015      18837      18837              0
6     1827663        2016        2019      19178      20183           1005
7     1837746        2018        2018      15927      16181            254
8     1841221        2017        2017      19537      19537              0
9     1841539        2019        2019      16097      16308            211
10    1841945        2016        2017      16876      17297            421
11    1842276        2016        2016      20553      20553              0
12    1843954        2017        2017      16933      16933              0
13    1845290        2017        2017      18012      18012              0
14    1847930        2016        2016      19858      19858              0
15    1850262        2017        2017      18977      18977              0
16    1850356        2017        2018      17117      17261            144
17    1852469        2016        2016      17674      17674              0
18    1852677        2017        2017      20601      20601              0
19    1856273        2016        2016      15609      15675             66

| Column          | Meaning                                                              |
| --------------- | -------------------------------------------------------------------- |
| `visitlink`     | Encrypted patient ID (same person may appear multiple times)         |
| `start_year`    | **Actual calendar year** of the admission (can trust this)           |
| `death_year`    | **Actual calendar year** of the death (can trust this)               |
| `start_day`     | Synthetic number for intra-patient timing; not a real-world date     |
| `death_day`     | Same synthetic timeline as `start_day`                               |
| `time_to_death` | Difference between `death_day` and `start_day` (within same patient) |

KeyError: 'death_day'