# 1. Survival Analysis with Structured Data

## A. Data Preparation

### Variables Needed:
- **Time-to-event:**  
  Survival time (from diagnosis to death or last follow-up).

- **Event Indicator:**  
  Binary variable (e.g., `1` for death, `0` for censored).

- **Covariates:**
  - Cancer subtype:  
    (e.g., ER/PR/HER2 status, molecular subtypes like Luminal A, HER2+, Triple-Negative)
  - Demographics:  
    (e.g., age, race)
  - Tumor characteristics:  
    (e.g., stage, grade)
  - Treatments:  
    (e.g., surgery, chemotherapy)

### Preprocessing:
- Handle missing data:  
  (e.g., imputation or exclusion)

- Encode categorical variables:  
  (e.g., one-hot encoding for subtypes)




# Comparison: CoxPH Modeling vs Kaplan-Meier (KM) Estimator

## 1. Kaplan-Meier Estimator

### Purpose:
- Estimate survival probability over time for different groups.

### Characteristics:
- Non-parametric method.
- No covariates adjustment.
- Used for:
  - Descriptive analysis.
  - Comparing survival curves visually.

### Key Analysis:
- Plot survival curves for different groups (e.g., Treatment A vs B).
- Compare groups using Log-Rank Test.

### Assumptions:
- Random censoring.
- No adjustment for covariates.
- Cannot model continuous variables.

### Output:
- Survival Curve.
- Median Survival Time.
- Survival Probabilities at time `t`.

---

## 2. Cox Proportional Hazards (CoxPH) Model

### Purpose:
- Model the effect of covariates on the hazard (risk of event over time).

### Characteristics:
- Semi-parametric model.
- Allows multiple covariates (both categorical and continuous).
- Gives Hazard Ratio (HR) for each covariate.

### Key Analysis:
- Estimate Hazard Ratio (HR):
  - HR > 1 → Increased risk.
  - HR < 1 → Protective effect.
- Adjust for confounding variables.

### Assumptions:
- Proportional Hazards (Effect of covariates is constant over time).
- Linearity of continuous variables (unless transformed).

### Output:
- Hazard Ratios with 95% Confidence Interval.
- Significance (p-values).
- Residual Diagnostics:
  - Martingale Residuals → Linearity check.
  - Schoenfeld Residuals → Proportional hazards check.

---

# Summary Comparison Table

| Feature               | Kaplan-Meier (KM)              | Cox Proportional Hazards (CoxPH) |
|----------------------|--------------------------------|---------------------------------|
| Model Type           | Non-parametric                 | Semi-parametric                 |
| Adjust Covariates?   | No                            | Yes (multi-variable)           |
| Output               | Survival Curve                | Hazard Ratios (HR)              |
| Assumptions          | Random Censoring              | Proportional Hazards, Linearity |
| Use Case             | Descriptive, Group Comparison | Inferential, Risk Modeling      |
| Test for Groups      | Log-Rank Test                 | HR + p-value                   |
| Diagnostic Tools     | None                         | Residual Analysis               |

---

# Final Recommendation:
| Situation | Method |
|-----------|--------|
| Compare Survival between Groups (without covariates) | Kaplan-Meier + Log-Rank Test |
| Model Impact of Covariates on Survival | CoxPH Model |
| Check Linearity of Variables | CoxPH + Martingale Residuals |
| Check Proportional Hazards Assumption | CoxPH + Schoenfeld Residuals |

In [13]:
# Reading data from a file
import pandas as pd
import numpy as np
df = pd.read_csv('../data/data/hot_encoding_Cancer_pancreas.csv')
df = df.reindex(sorted(df.columns), axis=1)

# lower case df
df.columns = df.columns.str.lower()


import pandas as pd

# Save column names to an Excel file
column_names = pd.DataFrame(df.columns, columns=["Column Names"])
column_names.to_excel('../data/data/hot_encoding_Cancer_pancreas_columns.xlsx', index=False)

# save as md file
with open('../data/data/hot_encoding_Cancer_pancreas_columns.md', 'w') as f:
    f.write('# Column Names\n\n')
    for col in df.columns:
        f.write(f'- {col}\n')

/var/folders/gy/ggsrtsh527x0w4bhcr8s0z140000gn/T/ipykernel_11718/2146647169.py:4: DtypeWarning: Columns (52,53,54,55,56,102,114,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,170,171,172,177) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/data/hot_encoding_Cancer_pancreas.csv')

In [14]:
df["amonth"]

KeyError: 'amonth'

In [16]:
import pandas as pd
import numpy as np

# Read your data
df = pd.read_csv('../data/data/hot_encoding_Cancer_pancreas.csv')
df = df.reindex(sorted(df.columns), axis=1)
df.columns = df.columns.str.lower()

# Generate month based on dqtr
quarter_to_month = {
    1: 1,   # January
    2: 4,   # April
    3: 7,   # July
    4: 10   # October
}

df['month'] = df['dqtr'].map(quarter_to_month)
df["month"]

/var/folders/gy/ggsrtsh527x0w4bhcr8s0z140000gn/T/ipykernel_11718/1779562133.py:5: DtypeWarning: Columns (52,53,54,55,56,102,114,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,170,171,172,177) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/data/hot_encoding_Cancer_pancreas.csv')

0        1
1        1
2        1
3        1
4        1
        ..
8728    10
8729     1
8730    10
8731     7
8732    10
Name: month, Length: 8733, dtype: int64

In [21]:
import pandas as pd
import numpy as np

# Step 1: Load Data
df = pd.read_csv('../data/data/hot_encoding_Cancer_pancreas.csv')

# Step 2: Clean Columns
df = df.reindex(sorted(df.columns), axis=1)
df.columns = df.columns.str.lower()

# Step 3: Map dqtr to month
quarter_to_month = {
    1: 1,  # Jan
    2: 4,  # Apr
    3: 7,  # Jul
    4: 10  # Oct
}
df['month'] = df['dqtr'].map(quarter_to_month)

# Step 4: Generate admission_date
df['year'] = df['ayear']  # for to_datetime compatibility
df['admission_date'] = pd.to_datetime(df[['year', 'month']].assign(day=1))

# Step 5: Generate discharge_date
df['discharge_date'] = df['admission_date'] + pd.to_timedelta(df['los'], unit='D')

# Step 6: Generate death_date (only for died==1)
df['death_date'] = pd.NaT
df.loc[df['died'] == 1, 'death_date'] = df.loc[df['died'] == 1, 'discharge_date']

# Step 7: Calculate first admission and last discharge per patient
df['first_admission'] = df.groupby('visitlink')['admission_date'].transform('min')
df['last_discharge'] = df.groupby('visitlink')['discharge_date'].transform('max')

# Step 8: Calculate duration safely using pandas logic
# Duration to death (if died == 1)
duration_death = (df['death_date'] - df['first_admission']).dt.days

# Duration to censoring (if died == 0)
duration_censor = (df['last_discharge'] - df['first_admission']).dt.days

# Combine based on condition (no np.where)
df['duration'] = duration_death.where(df['died'] == 1, duration_censor)

# Step 9: Final check
print(df[['visitlink', 'died', 'admission_date', 'discharge_date', 'death_date', 'duration']].head())

# Optional: Save output
df.to_csv('../data/data/cleaned_survival_pancreas.csv', index=False)

/var/folders/gy/ggsrtsh527x0w4bhcr8s0z140000gn/T/ipykernel_11718/4276559460.py:5: DtypeWarning: Columns (52,53,54,55,56,102,114,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,170,171,172,177) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/data/hot_encoding_Cancer_pancreas.csv')

   visitlink  died admission_date discharge_date death_date  duration
0   11640858     0     2016-01-01     2016-01-04        NaT       3.0
1   11641343     0     2016-01-01     2016-01-04        NaT      98.0
2   11641635     0     2016-01-01     2016-01-05        NaT       4.0
3   11641635     1     2016-01-01     2016-01-01 2016-01-01       0.0
4    3168104     0     2016-01-01     2016-01-11        NaT      10.0

In [22]:
print(df[['visitlink', 'died', 'admission_date', 'discharge_date', 'death_date', 'duration']].head(20))

    visitlink  died admission_date discharge_date death_date  duration
0    11640858     0     2016-01-01     2016-01-04        NaT       3.0
1    11641343     0     2016-01-01     2016-01-04        NaT      98.0
2    11641635     0     2016-01-01     2016-01-05        NaT       4.0
3    11641635     1     2016-01-01     2016-01-01 2016-01-01       0.0
4     3168104     0     2016-01-01     2016-01-11        NaT      10.0
5     3168104     1     2016-01-01     2016-01-01 2016-01-01       0.0
6     2295901     0     2016-01-01     2016-01-05        NaT       4.0
7    11641343     0     2016-04-01     2016-04-08        NaT      98.0
8     2328248     0     2016-01-01     2016-01-05        NaT       4.0
9    11642148     0     2016-04-01     2016-04-04        NaT       3.0
10   11642148     1     2016-04-01     2016-04-02 2016-04-02       1.0
11   11642906     0     2016-04-01     2016-04-14        NaT      13.0
12   11642890     0     2016-04-01     2016-04-05        NaT       4.0
13   11643041     0     2016-04-01     2016-04-05        NaT       4.0
14    1836349     0     2016-04-01     2016-04-11        NaT      10.0
15   10889419     0     2016-04-01     2016-04-02        NaT       1.0
16   11643787     0     2016-07-01     2016-07-04        NaT       3.0
17    4012594     0     2016-04-01     2016-04-04        NaT     187.0
18   10842287     0     2016-04-01     2016-04-05        NaT       4.0
19    3169849     0     2016-04-01     2016-04-05        NaT      96.0

In [ ]:
import pandas as pd
import numpy as np

# Load your data
df = pd.read_csv('../data/data/hot_encoding_Cancer_pancreas.csv')
df = df.reindex(sorted(df.columns), axis=1)
df.columns = df.columns.str.lower()  # lowercase all columns

# Map dqtr to month
quarter_to_month = {
    1: 1,   # Jan
    2: 4,   # Apr
    3: 7,   # Jul
    4: 10   # Oct
}

# Create month column based on dqtr
df['amonth'] = df['dqtr'].map(quarter_to_month)

# Create approximate admission date (year, month, day=1)
df['admission_date'] = pd.to_datetime(df[['ayear', 'amonth']].assign(day=1))

# Create discharge date = admission_date + los days
df['discharge_date'] = df['admission_date'] + pd.to_timedelta(df['los'], unit='D')

# Check result
print(df[['visitlink', 'los', 'ayear', 'dqtr', 'admission_date', 'discharge_date']].head())

/var/folders/gy/ggsrtsh527x0w4bhcr8s0z140000gn/T/ipykernel_11718/4280644835.py:5: DtypeWarning: Columns (52,53,54,55,56,102,114,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,170,171,172,177) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/data/hot_encoding_Cancer_pancreas.csv')

KeyError: "['amonth'] not in index"

In [6]:
df["dqtr"].unique()

array([1, 2, 3, 4])

In [2]:
# demonstration of the data

df["died"].value_counts()

died
0    8076
1     657
Name: count, dtype: int64

# Handle missing data (imputation or exclusion).

In [8]:
# missing value check 
df.isnull().sum()

adm001         0
adm002         0
adm003         0
adm005         0
adm006         0
              ..
tran_out       0
visitlink      0
zip            0
zip3           0
zipinc_qrtl    0
Length: 780, dtype: int64

### Core Demographics (Patient-level)

| Variable               | Meaning            | Keep? | Reason                                                                 |
|------------------------|--------------------|-------|------------------------------------------------------------------------|
| AGE, AGEDAY, AGEMONTH | Patient age        | YES   | AGE for adults; AGEDAY/AGEMONTH for infants (mutually exclusive)      |
| FEMALE                | Sex                | YES   | Essential demographic variable                                        |
| RACE / RACE_EDIT      | Race               | YES   | Use RACE_EDIT if available                                            |
| HISPANIC / HISPANIC_X | Ethnicity          | YES   | For disparities analysis                                              |
| MARITALSTATUS_X       | Marital Status     | Optional | Only for social variables                                             |

In [ ]:
extracted all of clolumn as md:

# Framingham Heart Study

**Analysis & Modelling done by Ali Nemati**

The Healthcare Cost and Utilization Project (HCUP) is a family of healthcare databases and tools, developed through a partnership between the Agency for Healthcare Research and Quality (AHRQ), state data organizations, and industry partners. HCUP provides researchers and policymakers with a vast collection of longitudinal, all-payer, discharge-level hospital care data. This data is used to study hospital utilization, access, charges, quality, and outcomes, as well as to analyze medical practice patterns, healthcare policy issues, and the impact of treatments. 


Here is the information from your dataset transformed into a table format:

| Variable Name    | Description                         |
|------------------|----------------------------------------------------------------------------|
| Sex | Gender of the observations, binary variable (0 = female, 1 = male)        |
| Age | Age at the time of medical examination in years |
| Education        | Categorical variable representing the participant's education level       |
|     | - 1: Some high school |
|                  | - 2: High school/GED                                                     |
|                  | - 3: Some college/vocational school                                      |
|                  | - 4: College                                                              |
| CurrentSmoker    | Indicates whether the individual is a current smoker (1 = Yes, 0 = No)   |
| CigsPerDay       | Number of cigarettes smoked each day                                     |
| BPmeds           | Usage of Anti-hypertensive medication at the time of the examination    |
| PrevalentStroke  | Presence of a prevalent stroke (0 = free of disease, 1 = stroke present)  |
| PrevalentHyp     | Presence of prevalent hypertension (1 = hypertensive, 0 = not)           |
| Diabetes         | Diabetic status according to the criteria of the first examination        |
| TotChol          | Total cholesterol level in milligrams per deciliter (mg/dL)              |
| SysBP            | Systolic Blood Pressure in millimeters of mercury (mmHg)                 |
| DiaBP            | Diastolic Blood Pressure in millimeters of mercury (mmHg)                |
| BMI              | Body Mass Index, calculated as weight (kg) divided by height (m^2)       |
| HeartRate        | Heart rate in beats per minute                                          |
| Glucose          | Blood glucose level in milligrams per deciliter (mg/dL)                  |
| TenYearCHD       | The 10-year risk of coronary heart disease (CHD)                         |

In [ ]:


del df["asource"] # asource	Patient Source (1=Hospital, 2=Physician, 3=Other)
del df["asource_x"] # asource_x	Patient Source (1=Hospital, 2=Physician, 3=Other)
del df["key"] # key	Patient Key linked to the SEER database
del df["mdnum1_r"] # mdnum1_r	Physician Number (linked to the SEER database)
del df["mdnum2_r"] # mdnum2_r	Physician Number (linked to the SEER database)
del df["zip"] # zip	Patient ZIP Code
del df["zip3"] # zip3	Patient ZIP Code (first three digits)
del df["zipinc_qrtl"] # zipinc_qrtl	Patient ZIP Code Income Quartile (based on patient ZIP Code)
del df["xxx000"] # xxx000	Patient's Age at Diagnosis (years)
del df['race_x'] # same as race
del df["pstco"] # pstco	Patient State Code (linked to the SEER database)
del df["pstco2"] # pstco2	Patient State Code (linked to the SEER database)

# drop all of above
df 


# show column 4 or 455
df.head(5)

/var/folders/gy/ggsrtsh527x0w4bhcr8s0z140000gn/T/ipykernel_43768/2352979454.py:4: DtypeWarning: Columns (52,53,54,55,56,102,114,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,170,171,172,177) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/data/hot_encoding_Cancer_pancreas.csv')

,adm001,adm002,adm003,adm005,adm006,adm010,adm012,adm013,adm014,adm015,...,pstate_geo,pstco_geo,race,race_edit,readmit,totchg,totchg_x,tran_in,tran_out,visitlink
0,0,0,0,0,0,0,0,0,0,0,...,0,0.0,1,0.0,0,5004,5004.03,0,0,11640858
1,0,0,0,0,0,0,0,0,0,0,...,0,0.0,1,0.0,0,7117,7117.08,0,0,11641343
2,0,1,0,0,0,0,0,0,0,0,...,0,0.0,1,0.0,0,10080,10079.80,0,2,11641635
3,0,0,0,0,0,0,0,0,0,0,...,0,0.0,1,0.0,0,1215,1214.72,1,0,11641635
4,0,0,0,0,0,0,0,0,0,0,...,0,0.0,1,0.0,0,17031,17031.09,0,0,3168104

In [111]:
df["died"].value_counts()

died
0    8076
1     657
Name: count, dtype: int64

In [74]:
df["totchg"].value_counts()

totchg
13682     5
7269      4
15624     4
9004      4
8897      4
         ..
527696    1
35258     1
40062     1
19109     1
23782     1
Name: count, Length: 7868, dtype: int64

# Rule:
- Drop any column where percentage of zeros is ≥ 70%.
- Keep columns with non-zero values ≥ 30%.

In [112]:
import pandas as pd

# Calculate percentage of zeros for all columns
columns_to_drop = [
    col for col in df.columns
    if (df[col] == 0).mean() >= 0.70
    #except this column
    and col not in [
        "died",  # Patient Vital Status (1=Dead, 0=Alive)
        "totchg",  # Total Charge
        "age"  # Patient Age at Diagnosis (years)
    ]
]

print(f"Columns to drop (>=70% zeros): {columns_to_drop}")

# Drop those columns
df.drop(columns=columns_to_drop, inplace=True)

# Final result
print(f"Remaining columns: {df.columns.tolist()}")

df.head()

Columns to drop (>=70% zeros): ['adm001', 'adm002', 'adm003', 'adm005', 'adm006', 'adm010', 'adm012', 'adm013', 'adm014', 'adm015', 'adm016', 'adm017', 'adm018', 'adm020', 'adm021', 'bld001', 'bld002', 'bld003', 'bld004', 'bld005', 'bld006', 'bld007', 'bld008', 'bld009', 'bld010', 'car001', 'car002', 'car003', 'car004', 'car006', 'car007', 'car008', 'car010', 'car011', 'car012', 'car014', 'car015', 'car016', 'car017', 'car019', 'car020', 'car021', 'car022', 'car023', 'car024', 'car025', 'car026', 'car028', 'car029', 'cir001', 'cir003', 'cir004', 'cir005', 'cir006', 'cir008', 'cir009', 'cir010', 'cir011', 'cir012', 'cir013', 'cir014', 'cir015', 'cir016', 'cir017', 'cir018', 'cir019', 'cir020', 'cir021', 'cir022', 'cir023', 'cir024', 'cir025', 'cir026', 'cir027', 'cir028', 'cir029', 'cir030', 'cir031', 'cir032', 'cir033', 'cir034', 'cir035', 'cir036', 'cir038', 'cir039', 'cns002', 'cns003', 'cns006', 'cns007', 'cns009', 'cns010', 'cns011', 'cns013', 'cns014', 'dig001', 'dig002', 'dig003', 'dig005', 'dig006', 'dig007', 'dig008', 'dig009', 'dig010', 'dig011', 'dig012', 'dig013', 'dig014', 'dig015', 'dig016', 'dig017', 'dig018', 'dig019', 'dig020', 'dig021', 'dig022', 'dig023', 'dig024', 'dig025', 'ear001', 'ear002', 'ear003', 'ear004', 'ear006', 'end001', 'end002', 'end003', 'end007', 'end008', 'end009', 'end012', 'end013', 'end014', 'end015', 'end016', 'end017', 'enp001', 'enp002', 'enp004', 'enp005', 'ent001', 'ent002', 'ent003', 'ent006', 'ent013', 'ent015', 'ent017', 'esa001', 'esa002', 'esa003', 'esa004', 'esa005', 'esa006', 'esa008', 'esa009', 'esa010', 'est001', 'est004', 'eye001', 'eye002', 'eye003', 'eye004', 'eye005', 'eye006', 'eye007', 'eye008', 'eye009', 'eye010', 'eye011', 'eye012', 'eyp002', 'fac006', 'fac008', 'fac009', 'fac010', 'fac014', 'fac020', 'fac022', 'frs001', 'frs002', 'frs003', 'frs004', 'frs010', 'frs015', 'gen001', 'gen002', 'gen003', 'gen004', 'gen005', 'gen006', 'gen007', 'gen008', 'gen009', 'gen010', 'gen011', 'gen012', 'gen013', 'gen014', 'gen016', 'gen017', 'gen018', 'gen019', 'gen020', 'gen021', 'gen022', 'gen023', 'gen025', 'gen026', 'gis001', 'gis002', 'gis003', 'gis004', 'gis005', 'gis006', 'gis007', 'gis008', 'gis009', 'gis010', 'gis011', 'gis012', 'gis013', 'gis014', 'gis015', 'gis016', 'gis017', 'gis018', 'gis019', 'gis020', 'gis021', 'gis022', 'gis024', 'gis025', 'gis026', 'gis027', 'gis028', 'gis029', 'gnr002', 'gnr003', 'gnr004', 'gnr005', 'gnr006', 'gnr008', 'gnr009', 'hep001', 'hep002', 'hep003', 'hep004', 'hep005', 'hep006', 'hep007', 'hep008', 'hep009', 'hep010', 'hep011', 'hep013', 'img001', 'img002', 'img003', 'img004', 'img005', 'img006', 'img007', 'img008', 'img009', 'inf001', 'inf002', 'inf003', 'inf004', 'inf006', 'inf007', 'inf008', 'inf009', 'inf010', 'inf011', 'inj001', 'inj002', 'inj003', 'inj004', 'inj005', 'inj006', 'inj007', 'inj008', 'inj009', 'inj010', 'inj011', 'inj012', 'inj013', 'inj016', 'inj017', 'inj019', 'inj020', 'inj021', 'inj022', 'inj024', 'inj025', 'inj026', 'inj027', 'inj028', 'inj030', 'inj031', 'inj033', 'inj034', 'inj035', 'inj036', 'inj037', 'inj038', 'inj039', 'inj040', 'inj041', 'inj042', 'inj043', 'inj044', 'inj045', 'inj046', 'inj047', 'inj048', 'inj049', 'inj050', 'inj054', 'inj056', 'inj064', 'inj065', 'inj072', 'inj073', 'inj074', 'inj075', 'inj076', 'lym001', 'lym002', 'lym003', 'lym005', 'lym006', 'lym007', 'mal001', 'mal002', 'mal003', 'mal004', 'mal007', 'mal008', 'mal009', 'mal010', 'mam001', 'mam002', 'mam003', 'mam004', 'mam005', 'mam006', 'mam007', 'mam008', 'mam009', 'mam010', 'mam011', 'mam012', 'mam013', 'mam015', 'mbd001', 'mbd002', 'mbd003', 'mbd004', 'mbd005', 'mbd006', 'mbd007', 'mbd009', 'mbd010', 'mbd011', 'mbd012', 'mbd013', 'mbd014', 'mbd017', 'mbd018', 'mbd019', 'mbd020', 'mbd021', 'mbd022', 'mbd024', 'mbd025', 'mbd026', 'mht002', 'mht003', 'mrs002', 'mrs004', 'mrs005', 'mrs007', 'mst001', 'mst002', 'mst003', 'mst004', 'mst005', 'mst006', 'mst007', 'mst008', 'mst009', 'mst010', 'mst012', 'mst013', 'mst016', 'mst017', 'mst018', 'mst019', 'mst020', 'mst023', 'mst024', 'mst025', 'mst028', 'mst029', 'mst030', 'mus001', 'mus002', 'mus003', 'mus004', 'mus006', 'mus007', 'mus009', 'mus010', 'mus011', 'mus013', 'mus014', 'mus015', 'mus016', 'mus017', 'mus021', 'mus022', 'mus023', 'mus024', 'mus025', 'mus026', 'mus028', 'mus029', 'mus030', 'mus031', 'mus032', 'mus033', 'mus034', 'mus037', 'mus038', 'ncm001', 'ncm002', 'neo001', 'neo008', 'neo012', 'neo013', 'neo014', 'neo015', 'neo017', 'neo018', 'neo019', 'neo020', 'neo021', 'neo022', 'neo024', 'neo025', 'neo026', 'neo027', 'neo028', 'neo029', 'neo030', 'neo033', 'neo035', 'neo039', 'neo041', 'neo043', 'neo044', 'neo045', 'neo048', 'neo049', 'neo050', 'neo056', 'neo057', 'neo058', 'neo060', 'neo061', 'neo062', 'neo064', 'neo065', 'neo066', 'neo067', 'neo068', 'neo069', 'neo071', 'neo072', 'neo073', 'neo074', 'nvs001', 'nvs002', 'nvs003', 'nvs004', 'nvs005', 'nvs006', 'nvs007', 'nvs008', 'nvs009', 'nvs010', 'nvs011', 'nvs012', 'nvs013', 'nvs014', 'nvs015', 'nvs016', 'nvs017', 'nvs018', 'nvs019', 'nvs020', 'nvs021', 'nvs022', 'otr001', 'otr002', 'otr004', 'pgn009', 'plc001', 'plc002', 'pns001', 'pns002', 'pns003', 'pns005', 'pns006', 'rad001', 'rad002', 'rad003', 'rad004', 'res001', 'res002', 'res003', 'res004', 'res005', 'res006', 'res007', 'res008', 'res010', 'res011', 'res012', 'res014', 'rhb001', 'rhb002', 'rhb003', 'rhb004', 'rsp001', 'rsp002', 'rsp003', 'rsp005', 'rsp006', 'rsp007', 'rsp008', 'rsp009', 'rsp010', 'rsp011', 'rsp012', 'rsp013', 'rsp014', 'rsp015', 'rsp016', 'rsp017', 'skb001', 'skb002', 'skb003', 'skb006', 'skb007', 'skb008', 'skb009', 'skb010', 'skn001', 'skn002', 'skn003', 'skn004', 'skn005', 'skn006', 'skn007', 'sud001', 'sud002', 'sym001', 'sym002', 'sym003', 'sym004', 'sym005', 'sym006', 'sym007', 'sym008', 'sym010', 'sym011', 'sym012', 'sym013', 'sym014', 'sym015', 'sym016', 'sym017', 'urn001', 'urn002', 'urn003', 'urn004', 'urn005', 'urn006', 'urn008', 'urn009', 'urn010', 'urn012', 'ageday', 'agemonth', 'aweekend', 'daysburnunit', 'daysccu', 'daysicu', 'daysnicu', 'dayspicu', 'daysshockunit', 'dxpoa61', 'dxpoa62', 'dxpoa63', 'dxpoa64', 'dxpoa65', 'dxpoa66', 'dxpoa67', 'dxpoa68', 'dxpoa69', 'dxpoa70', 'dxpoa71', 'dxpoa72', 'dxpoa73', 'dxpoa74', 'dxpoa75', 'dxpoa76', 'dxpoa77', 'dxpoa78', 'e_poa1', 'e_poa3', 'e_poa4', 'e_poa5', 'e_poa6', 'e_poa7', 'e_poa8', 'hcup_os', 'hispanic', 'homeless', 'i10_birth', 'i10_delivery', 'i10_necause', 'i10_orproc', 'i10_serviceline', 'os_time', 'pay3', 'payer3_x', 'poa_disch_edit1', 'poa_disch_edit2', 'poa_hosp_edit1', 'poa_hosp_edit2', 'poa_hosp_edit3', 'poa_hosp_edit3_value', 'pstate_geo', 'pstco_geo', 'race_edit', 'readmit', 'tran_in', 'tran_out']
Remaining columns: ['dig004', 'end010', 'end011', 'fac025', 'neo051', 'neo070', 'age', 'atype', 'ayear', 'daystoevent', 'died', 'disp_x', 'dispub04', 'dispuniform', 'dqtr', 'drg', 'drg_nopoa', 'drgver', 'dshospid', 'dxpoa1', 'dxpoa10', 'dxpoa11', 'dxpoa12', 'dxpoa13', 'dxpoa14', 'dxpoa15', 'dxpoa16', 'dxpoa17', 'dxpoa18', 'dxpoa19', 'dxpoa2', 'dxpoa20', 'dxpoa21', 'dxpoa22', 'dxpoa23', 'dxpoa24', 'dxpoa25', 'dxpoa26', 'dxpoa27', 'dxpoa28', 'dxpoa29', 'dxpoa3', 'dxpoa30', 'dxpoa31', 'dxpoa32', 'dxpoa33', 'dxpoa34', 'dxpoa35', 'dxpoa36', 'dxpoa37', 'dxpoa38', 'dxpoa39', 'dxpoa4', 'dxpoa40', 'dxpoa41', 'dxpoa42', 'dxpoa43', 'dxpoa44', 'dxpoa45', 'dxpoa46', 'dxpoa47', 'dxpoa48', 'dxpoa49', 'dxpoa5', 'dxpoa50', 'dxpoa51', 'dxpoa52', 'dxpoa53', 'dxpoa54', 'dxpoa55', 'dxpoa56', 'dxpoa57', 'dxpoa58', 'dxpoa59', 'dxpoa6', 'dxpoa60', 'dxpoa7', 'dxpoa8', 'dxpoa9', 'e_poa2', 'female', 'hcup_ed', 'hispanic_x', 'hospitalunit', 'hospst', 'i10_ndx', 'i10_npr', 'i10_proctype', 'los', 'los_x', 'maritalstatus_x', 'maritalstatusub04', 'mdc', 'mdc_nopoa', 'medincstq', 'mrn_r', 'p7edsrc_x', 'pay1', 'pay1_x', 'pay2', 'pay2_x', 'pay3_x', 'payer1_x', 'payer2_x', 'pl_cbsa', 'pl_nchs', 'pl_rucc', 'pl_uic', 'pl_ur_cat4', 'pointoforigin_x', 'pointoforiginub04', 'primlang', 'pstate', 'race', 'totchg', 'totchg_x', 'visitlink']

,dig004,end010,end011,fac025,neo051,neo070,age,atype,ayear,daystoevent,...,pl_uic,pl_ur_cat4,pointoforigin_x,pointoforiginub04,primlang,pstate,race,totchg,totchg_x,visitlink
0,0,0,0,0,1,1,47,1,2016,17082,...,5,3,0,0,eng,WV,1,5004,5004.03,11640858
1,0,1,1,0,1,0,56,1,2016,16659,...,2,2,0,0,eng,MD,1,7117,7117.08,11641343
2,0,1,1,0,1,0,90,1,2016,19672,...,2,2,0,0,eng,PA,1,10080,10079.80,11641635
3,0,1,1,0,1,0,90,1,2016,19676,...,2,2,0,0,eng,PA,1,1215,1214.72,11641635
4,0,1,0,0,1,1,74,1,2016,17436,...,2,2,0,0,eng,MD,1,17031,17031.09,3168104

In [115]:
import pandas as pd

# Provided variable categories
demographics = [
    'AGE', 'AGEGROUP', 'AGEDAY', 'AGEMONTH', 'FEMALE', 'RACE', 'HISPANIC', 'ZIPINC_QRTL'
]

admission = [
    'ATYPE', 'ASOURCE', 'AWEEKEND', 'TRAN_IN', 'TRAN_OUT', 'ASOURCEUB92', 'ASOURCE_X',
    'PointOfOriginUB04', 'PointOfOrigin_X', 'DaysToEvent', 'DaysBetweenVisits'
]

hospital = [
    'HOSPID', 'HOSPST', 'PL_NCHS', 'PL_CBSA', 'PL_RUCC', 'PL_UIC', 'PL_UR_CAT4', 'MEDINCSTQ'
]

clinical = [
    'DRG', 'DRGVER', 'MDC', 'DXPOAn', 'I10_DXn', 'I10_PROCTYPE', 'I10_ORPROC',
    'I10_INJURY', 'I10_INJURY_CUT', 'I10_INJURY_DROWN', 'I10_INJURY_FALL',
    'I10_INJURY_FIRE', 'I10_INJURY_FIREARM', 'I10_INJURY_MACHINERY', 'I10_INJURY_MVT',
    'I10_INJURY_NATURE', 'I10_INJURY_OVEREXERTION', 'I10_INJURY_POISON',
    'I10_INJURY_STRUCK', 'I10_INJURY_SUFFOCATION'
]

outcome_resource = [
    'DIED', 'LOS', 'TOTCHG', 'READMIT', 'DISPUNIFORM',
    'DAYSICU', 'DAYSCCU', 'DAYSNICU', 'DaysBurnUnit', 'DaysPICU', 'DaysShockUnit'
]

# Combine all variables for final selection
final_selected_vars = demographics + admission + hospital + clinical + outcome_resource

# Display as DataFrame for clarity
df_selected = pd.DataFrame({'Selected_Variables': final_selected_vars})

# Display the DataFrame
df_selected

         Selected_Variables
0                       AGE
1                  AGEGROUP
2                    AGEDAY
3                  AGEMONTH
4                    FEMALE
5                      RACE
6                  HISPANIC
7               ZIPINC_QRTL
8                     ATYPE
9                   ASOURCE
10                 AWEEKEND
11                  TRAN_IN
12                 TRAN_OUT
13              ASOURCEUB92
14                ASOURCE_X
15        PointOfOriginUB04
16          PointOfOrigin_X
17              DaysToEvent
18        DaysBetweenVisits
19                   HOSPID
20                   HOSPST
21                  PL_NCHS
22                  PL_CBSA
23                  PL_RUCC
24                   PL_UIC
25               PL_UR_CAT4
26                MEDINCSTQ
27                      DRG
28                   DRGVER
29                      MDC
30                   DXPOAn
31                  I10_DXn
32             I10_PROCTYPE
33               I10_ORPROC
34               I10_INJURY
35           I10_INJURY_CUT
36         I10_INJURY_DROWN
37          I10_INJURY_FALL
38          I10_INJURY_FIRE
39       I10_INJURY_FIREARM
40     I10_INJURY_MACHINERY
41           I10_INJURY_MVT
42        I10_INJURY_NATURE
43  I10_INJURY_OVEREXERTION
44        I10_INJURY_POISON
45        I10_INJURY_STRUCK
46   I10_INJURY_SUFFOCATION
47                     DIED
48                      LOS
49                   TOTCHG
50                  READMIT
51              DISPUNIFORM
52                  DAYSICU
53                  DAYSCCU
54                 DAYSNICU
55             DaysBurnUnit
56                 DaysPICU
57            DaysShockUnit

# ATYPE

ATYPE indicates the type of admission (emergency, urgent, elective, etc.). Newborn admission types are separated only if that information is available from the data source. No edit check comparing the admission type to diagnosis or procedure codes is performed.


Variable	Description	Value	Value Description

ATYPE	Admission type	

- 1	Emergency
- 2	Urgent
- 3	Elective
- 4	Newborn
- 6	Other
- 0	Missing

In [76]:
df["atype"].value_counts()

atype
1    6064
3    1828
2     716
6     117
0       8
Name: count, dtype: int64

In [77]:
# convert all of missing values to 6 df["atype"]
df["atype"] = df["atype"].replace(6, 0)
df["atype"].value_counts()

atype
1    6064
3    1828
2     716
0     125
Name: count, dtype: int64

- AGEDAY: Age in days (when AGE is less than 1 year)

https://hcup-us.ahrq.gov/db/vars/siddistnote.jsp?var=age

- agemonth :  Age in months (AGEMONTH) is reported for patients less than 11 years of age. AGEMONTH is calculated from date of birth (DOB) and the admission date (ADATE) with the following exceptions:

https://hcup-us.ahrq.gov/db/vars/siddistnote.jsp?var=agemonth

- 0 = agegroup 0-20
- 1 = agegroup 20-40
- 2 = agegroup 40-60
- 3 = agegroup 60-80
- 4 = agegroup 80-100

In [78]:
# unique values in the 'age' column and try to ve in three categories  between 0-20, 20-40, 40-60, 60-80 ad 80-100
# Create bins for the age column
bins = [0, 20, 40, 60, 80, 100]
labels = ['0', '1', '2', '3', '4']
# Create a new column 'age_group' with the binned values
df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)
# Display the first few rows of the DataFrame
del df["age"]



df['age_group'].value_counts()

age_group
3    5404
2    1893
4    1327
1     101
0       6
Name: count, dtype: int64

# ayear

Admission year (AYEAR) is derived from the admission date (ADATE). If ADATE is missing, then AYEAR is missing (.). If ADATE is invalid, then AYEAR is invalid (.A).

Variable	Description	Value	Value Description
- AYEAR	Admission year	
- yyyy	Admission year
- .	Missing
- .A	Invalid

In [79]:
df["ayear"].value_counts()

ayear
2019    2319
2017    2168
2018    2125
2016    2084
2015      37
Name: count, dtype: int64

- los: Length of stay (LOS) is the number of days between the admission date (ADATE) and the discharge date (DDATE). If DDATE is missing, then LOS is missing (.). If DDATE is invalid, then LOS is invalid (.A). If DDATE is before ADATE, then LOS is negative (-1).

Variable	Description	Value	Value Description
LOS	Length of stay, cleaned	0 - 365 (for HCUP inpatient data), 0-30 (for HCUP outpatient data)	Days (Prior to data year 2017, LOS was limited to 0-3 days for outpatient data. In the 1988-1997 inpatient data, LOS can be greater than 365 days)
.	Missing
.A	Invalid
.B	Unavailable from source (coded in 1988-1997 data only)
.C	Inconsistent: beginning with 1998 data, ELOS03, ELOS04; in 1988-1997 data, ED011, ED601, ED911n, ED921



If los column is missing — always check end010 and end011 for Length Of Stay.

- end010 :  
-  : 

Variable	Meaning
- END010	Discharge status code (numeric)
- END011	Discharge status code (text label)

Code	Description
- 01	Discharged to home/self-care
- 02	Discharged/transferred to short-term hospital

In [106]:
df["end010"].value_counts()

end010
0    4856
1    3877
Name: count, dtype: int64

In [108]:
df["end011"]

0       0
1       1
2       1
3       1
4       0
       ..
8728    0
8729    1
8730    1
8731    0
8732    1
Name: end011, Length: 8733, dtype: int64

In [104]:
df["los"].value_counts()

los
2      1090
3      1073
4       925
5       812
6       798
       ...
55        1
70        1
61        1
116       1
73        1
Name: count, Length: 68, dtype: int64

# DXPOAn

DXPOAn indicates whether each diagnosis (DXn) was present at admission. This provides an indicator of complications arising during a hospitalization. The coding of this data element is consistent with the UB-04 standards. No edits checks are performed on this data element during HCUP processing.

Beginning with the 2017 HCUP databases, external cause of morbidity codes are included with other diagnoses in the diagnosis-related data elements (I10_DXn, I10_NDX, and DXPOAn) and are no longer retained in separate data elements (I10_ECAUSEn, I10_NECAUSE, and E_POAn).

From 1998 to 2006, this data element was called DXatAdmitn and coded with 0/1 values. Before 1998, this data element is called TMDXn.


dxpoa00 -> dxpoa

57, 58 are missing. 

## Maryland

| IPOAn Value | Description                                          | DXPOAn Value | Description                                      |
|------------|------------------------------------------------------|--------------|--------------------------------------------------|
| Y or y     | Yes                                                  | Y            | Yes                                              |
| N          | No                                                   | N            | No                                               |
| U          | Unknown/Insufficient Documentation to Determine      | U            | Unknown                                          |
| W          | Clinically undetermined/Unable to Clinically Determine | W          | Clinically undetermined                         |
| E          | Exempt from POA reporting                            | E            | Exempt from POA reporting                       |
| Blank      | Missing                                              | Blank        | Missing                                          |

visitlink : Verified person number for linking hospital visits across hospitals and time

The VisitLink data element is one of two data elements that are supplemental information created for HCUP States for which there are encrypted person identifiers. The visit linkage variable (VisitLink) can be used in tandem with the timing variable (DaysToEvent) to study multiple hospital visits for the same patient across hospitals and time while adhering to strict privacy regulations. VisitLink is derived from encrypted person numbers provided by the HCUP Partner. Partners sometimes change their coding scheme between data years, which in turn causes a discontinuity in VisitLink.

In [80]:
# Drop columns with all zeros

In [81]:
df["visitlink"].value_counts() # Treat as missing/null or drop because it his fake column

visitlink
3225432     17
13031519    14
1962302     12
2506207     12
1998478     11
            ..
1971874      1
2438677      1
12361678     1
12362115     1
12533781     1
Name: count, Length: 5184, dtype: int64

In [82]:
len(df["visitlink"].unique()) # Treat as missing/null or drop because it his fake column

5184

daystoevent : Days to event

In [83]:
df["daystoevent"].value_counts()

daystoevent
-99999    8
 18744    8
 17730    8
 18113    7
 18349    7
         ..
 20096    1
 20922    1
 19417    1
 19345    1
 21111    1
Name: count, Length: 4850, dtype: int64

# pstco:
 
Patient State/county FIPS code (PSTCO) retains the county code provided by the HCUP Partner organization regardless of how the information is collected. For example, the information might be collected at the hospital with the patient self-reporting the information, assigned by the hospital or the HCUP Partner organization from the patient's ZIP Code, or derived from some source other than ZIP Code such as Census block. Nonnumeric values and invalid FIPS codes are set to invalid (.A). Valid FIPS codes include values for outlying areas of the United States and freely associated States (i.e., American Samoa, Federated States of Micronesia, Guam, Marshall Islands, Commonwealth of the Northern Mariana Islands, Palau, Puerto Rico, U.S. minor outlying islands, and the U.S. Virgin Islands).

# pstate: 

PSTATE indicates the two-character state postal code (e.g., "CA" for California) for the patient's residence. If the data source provided the state of the patient's residence, then PSTATE is assigned to the reported state. Otherwise, PSTATE is assigned by mapping the patient's ZIP Code to a state. If the patient's ZIP Code is invalid, then PSTATE is set to invalid.

# TOTCHG

TOTCHG contains the edited total charges. The original value provided by the data source is retained in the data element TOTCHG_X. How total charges are edited depends on the year of the data.

Beginning in the 1998 HCUP databases, the following edits are applied to total charges (TOTCHG):

Values are rounded to the nearest dollar; and
Zero charges are set to missing (.);
If total charges are excessively low (ETCHG01) or high (ETCHG02), then TOTCHG is set to inconsistent (.C). The limits for excessively low and high total charges vary for inpatient and outpatient databases.
For inpatient data, the allowable values for total charges vary by year: total charges are allowed to be between $25 and $1.0 million, inclusive in 1998 to 2006; between $100 and $1.5 million, inclusive, in 2007 to 2010; between $100 and $5.0 million beginning in 2011 data; and between $100 and $10.0 million beginning in 2016 data.
For outpatient data, the allowable values for total charges vary by year: total charges are allowed to be between $25 and $50,000, inclusive, in 1998 to 2006; between $100 and $75,000, inclusive, in 2007 to 2010; and between $100 and $950,000 beginning in 2011 data.
In the 1988-1997 HCUP databases, the following edits are applied to total charges (TOTCHG):

Values are rounded to the nearest dollar; and
Zero charges are set to missing (.);
Negative charges are set to invalid (.A); and
For HCUP inpatient databases, if charges per day (TOTCHG/LOS) are unjustifiably low (ED911) or high (ED921), then TOTCHG is set to inconsistent (.C).
For HCUP outpatient databases, if total charges are excessively low (ED912) or high (ED922), then TOTCHG is set to inconsistent (.C). (SASD)
Generally, total charges (TOTCHG and TOTCHG_X) do not include professional fees and non-covered charges. If the source provides total charges with professional fees, then the professional fees are removed from the charge during HCUP processing. In a small number of HCUP databases, professional fees cannot be removed from total charges because the data source cannot provide the information. Please check the state-specific notes for information on which states are affected.

Emergency department charges incurred prior to admission to the hospital may be included in total charges (TOTCHG and TOTCHG_X). Medicare requires a bundled bill for Medicare patients admitted to the hospital through the emergency department. Other payers may or may not have similar requirements.


# TOTCHG_X
 
TOTCHG_X retains the total charge supplied by a data source, including cents and negative values, with the following exceptions:

Zero charges are set to missing (.); and
Charges that round to zero are set to missing (.).
TOTCHG_X has the same value as TOTCHG just before edit checks on total charges are performed. TOTCHG contains the cleaned total charges. TOTCHG_X contains the original value of total charges.

Generally, total charges (TOTCHG and TOTCHG_X) do not include professional fees and non-covered charges. If the source provides total charges with professional fees, then the professional fees are removed from the charge during HCUP processing. In a small number of HCUP databases, professional fees can not be removed from total charges because the data source cannot provide the information. Please check the state-specific notes for information on which states are affected.

In some cases, only copay amounts, such as $10 or $20, may be in the total charges. There is no documentation as to the prevalence of this practice.

Emergency department charges incurred prior to admission to the hospital may be included in total charges (TOTCHG and TOTCHG_X). Medicare requires a bundled bill for Medicare patients admitted to the hospital through the emergency department. Other payers may or may not have similar requirements.

In [84]:
df["totchg"].value_counts() # Treat as missing/null or drop because it his fake column

totchg
13682     5
7269      4
15624     4
9004      4
8897      4
         ..
527696    1
35258     1
40062     1
19109     1
23782     1
Name: count, Length: 7868, dtype: int64

In [85]:
df["totchg_x"].value_counts() # Treat as missing/null or drop because it his fake column

totchg_x
17942.02    2
13793.25    2
6135.97     2
35452.48    2
42119.05    2
           ..
9796.79     1
32675.58    1
33966.78    1
41719.21    1
23781.87    1
Name: count, Length: 8726, dtype: int64

## RACE Variable Description

| Variable | Description                  | Value | Value Description                                  |
|----------|------------------------------|-------|---------------------------------------------------|
| RACE     | Race/ethnicity of patient    | 1     | White                                             |
|          |                              | 2     | Black                                             |
|          |                              | 3     | Hispanic                                          |
|          |                              | 4     | Asian or Pacific Islander                        |
|          |                              | 5     | Native American                                  |
|          |                              | 6     | Other                                             |
|          |                              | .     | Missing                                           |
|          |                              | .A    | Invalid                                           |
|          |                              | .B    | Unavailable from source (coded in 1988-1997 data only) |

## RACE Variable Description

## RACE Variable Values

| Value | Value Description                                      |
|-------|--------------------------------------------------------|
| 1     | White                                                  |
| 2     | Black                                                  |
| 3     | Hispanic                                               |
| 4     | Asian or Pacific Islander                              |
| 5     | Native American                                        |
| 6     | Other                                                  |
| 0     | Missing                                                |

In [86]:
df["race"].value_counts() # Treat as missing/null or drop because it his fake column

race
1    5383
2    2568
4     269
3     268
6     151
0      78
5      16
Name: count, dtype: int64

# I10_NDX

I10_NDX indicates the total number of ICD-10-CM diagnoses (valid and invalid) coded on the discharge record. In assigning I10_NDX, the first listed diagnosis is included in the count, even if it is blank, so long as there is a secondary diagnosis present (see table below).

Beginning with the 2017 HCUP databases, external cause of morbidity codes are included with other diagnoses in the diagnosis-related data elements (I10_DXn, I10_NDX, and DXPOAn) and are no longer retained in separate data elements (I10_ECAUSEn, I10_NECAUSE, and E_POAn).

For data prior to the fourth quarter of 2015, the count of the number of diagnoses is stored in the data element NDX to indicate the use of the ICD-9-CM coding system.

Value	Description

0	No ICD-10-CM diagnoses are coded on the record

1	Only the first listed diagnosis (I10_DX1) is coded. All secondary diagnoses are blank.

2	One secondary diagnosis (I10_DX2) is coded. The first listed diagnosis (I10_DX1) may be coded or blank.

3	The second and third diagnoses (I10_DX2 and I10_DX3) are coded. The first listed diagnosis (I10_DX1) may be coded or blank.

etc.

In [87]:
df["i10_ndx"].value_counts() # Treat as missing/null or drop because it his fake column

i10_ndx
30    515
16    472
17    459
19    459
18    434
15    430
14    425
13    404
20    390
21    389
22    376
12    375
23    335
11    312
24    305
10    275
25    270
26    243
9     240
27    196
29    194
28    194
8     185
7     142
31    135
6     100
5      59
32     52
34     41
4      36
33     32
35     32
37     31
36     30
38     24
40     17
3      16
39     16
41     15
45      9
46      9
44      9
2       8
42      7
43      6
48      5
49      4
47      4
60      3
54      3
55      2
50      2
52      2
75      1
1       1
56      1
53      1
73      1
Name: count, dtype: int64

# I10_NPR 
indicates the total number of ICD-10-CM procedures (valid and invalid) coded on the discharge record. In assigning I10_NPR, the first listed procedure is included in the count, even if it is blank, so long as there is an additional procedure present (see table below).

Value	Description
0	No procedures are coded on the record.

1	Only the first listed procedure (I10_PR1) is coded. All secondary procedures are blank.

2	One secondary procedure (I10_PR2) is coded. The first listed procedure (I10_PR1) may be coded or blank.

3	The second and third procedures (I10_PR2 and I10_PR3) are coded. The first listed procedure (I10_PR1) may be coded or blank.

etc.

In [88]:
df["i10_npr"].value_counts() # Treat as missing/null or drop because it his fake column

i10_npr
0     2519
1     1578
2     1165
3      888
4      640
5      520
6      420
7      295
8      188
9      144
10      89
11      55
12      50
13      35
14      30
16      29
15      21
17       9
19       8
18       7
22       7
25       5
20       5
26       5
21       4
30       4
27       3
28       3
23       2
29       1
50       1
24       1
32       1
31       1
Name: count, dtype: int64

# i10_proctype

The procedure type indicator (I10_PROCTYPE) identifies the type of procedure codes reported on the record -- ICD-10-PCS, CPT/HCPCS, or both. The indicator values are based on all valid procedures for the discharge data, including those reported on the Core file and CDetail (if available).

For data prior to the fourth quarter of 2015, the procedure type indicator is stored in the data element PROCTYPE to indicate the use of the ICD-9-CM coding system.
 
 
 
Uniform Values
 
Variable	Description	Value	Value Description

I10_PROCTYPE	ICD-10-PCS Procedure type indicator	

0	No ICD-10-PCS or CPT procedures

1	At least one ICD-10-PCS procedure; no CPT/HCPCS procedures

2	At least one CPT/HCPCS procedure; no ICD-10-PCS procedures

3	At least one ICD-10-PCS procedure and at least one CPT/HCPCS procedure

In [89]:
df["i10_proctype"].value_counts() # Treat as missing/null or drop because it his fake column

i10_proctype
1    6214
0    2519
Name: count, dtype: int64

# Female

The sex of the patient (FEMALE) is provided by the data source. All non-male, non-female (e.g., "other") values are set to missing (.).

If FEMALE is inconsistent with diagnoses (EDX03), procedures (EPR03), ICD-9-CM or ICD-10-CM/PCS procedures (EPR03), or HCPCS procedures (ECPT02), FEMALE is set to inconsistent (.C).

In HCUP databases before 1998, this data element is called SEX.


Variable	Description	Value	Value Description

FEMALE	Indicator of sex	

0	Male

1	Female

.	Missing

.A	Invalid

.C	Inconsistent, EDX03, EPR03, ECPT02

In [90]:
df["female"].value_counts() # Treat as missing/null or drop because it his fake column

female
 0    4392
 1    4335
-6       6
Name: count, dtype: int64

# HCUP_ED
CUP indicator of emergency department record

In [91]:
df["hcup_ed"].value_counts()

hcup_ed
1    5624
0    3096
4      13
Name: count, dtype: int64

In [92]:
# Compare all columns pairwise to find equal columns
equal_columns = []
columns = df.columns

for i in range(len(columns)):
    for j in range(i + 1, len(columns)):
        if df[columns[i]].equals(df[columns[j]]):
            equal_columns.append((columns[i], columns[j]))

# Display the pairs of equal columns
if equal_columns:
    print("Equal columns:")
    for col1, col2 in equal_columns:
        print(f"{col1} == {col2}")
else:
    print("No equal columns found.")

Equal columns:
dxpoa57 == dxpoa58
los == los_x
mdc == mdc_nopoa

We have dropped with replace them with one representative per group!

In [93]:
# Find equal columns and keep only the first occurrence
drop_columns = set()
columns = df.columns

for i in range(len(columns)):
    for j in range(i + 1, len(columns)):
        if columns[j] not in drop_columns:  # Avoid double check
            if df[columns[i]].equals(df[columns[j]]):
                drop_columns.add(columns[j])  # Mark for dropping

# Drop the duplicated columns
df = df.drop(columns=list(drop_columns))

# Show the remaining columns
print("Remaining columns:")
print(list(df.columns))

Remaining columns:
['dig004', 'end010', 'end011', 'fac025', 'neo051', 'neo070', 'atype', 'ayear', 'daystoevent', 'disp_x', 'dispub04', 'dispuniform', 'dqtr', 'drg', 'drg_nopoa', 'drgver', 'dshospid', 'dxpoa1', 'dxpoa10', 'dxpoa11', 'dxpoa12', 'dxpoa13', 'dxpoa14', 'dxpoa15', 'dxpoa16', 'dxpoa17', 'dxpoa18', 'dxpoa19', 'dxpoa2', 'dxpoa20', 'dxpoa21', 'dxpoa22', 'dxpoa23', 'dxpoa24', 'dxpoa25', 'dxpoa26', 'dxpoa27', 'dxpoa28', 'dxpoa29', 'dxpoa3', 'dxpoa30', 'dxpoa31', 'dxpoa32', 'dxpoa33', 'dxpoa34', 'dxpoa35', 'dxpoa36', 'dxpoa37', 'dxpoa38', 'dxpoa39', 'dxpoa4', 'dxpoa40', 'dxpoa41', 'dxpoa42', 'dxpoa43', 'dxpoa44', 'dxpoa45', 'dxpoa46', 'dxpoa47', 'dxpoa48', 'dxpoa49', 'dxpoa5', 'dxpoa50', 'dxpoa51', 'dxpoa52', 'dxpoa53', 'dxpoa54', 'dxpoa55', 'dxpoa56', 'dxpoa57', 'dxpoa59', 'dxpoa6', 'dxpoa60', 'dxpoa7', 'dxpoa8', 'dxpoa9', 'e_poa2', 'female', 'hcup_ed', 'hispanic_x', 'hospitalunit', 'hospst', 'i10_ndx', 'i10_npr', 'i10_proctype', 'los', 'maritalstatus_x', 'maritalstatusub04', 'mdc', 'medincstq', 'mrn_r', 'p7edsrc_x', 'pay1', 'pay1_x', 'pay2', 'pay2_x', 'pay3_x', 'payer1_x', 'payer2_x', 'pl_cbsa', 'pl_nchs', 'pl_rucc', 'pl_uic', 'pl_ur_cat4', 'pointoforigin_x', 'pointoforiginub04', 'primlang', 'pstate', 'race', 'totchg', 'totchg_x', 'visitlink', 'age_group']

In [94]:
print(f"Remaining columns: {df.columns.tolist()}")

Remaining columns: ['dig004', 'end010', 'end011', 'fac025', 'neo051', 'neo070', 'atype', 'ayear', 'daystoevent', 'disp_x', 'dispub04', 'dispuniform', 'dqtr', 'drg', 'drg_nopoa', 'drgver', 'dshospid', 'dxpoa1', 'dxpoa10', 'dxpoa11', 'dxpoa12', 'dxpoa13', 'dxpoa14', 'dxpoa15', 'dxpoa16', 'dxpoa17', 'dxpoa18', 'dxpoa19', 'dxpoa2', 'dxpoa20', 'dxpoa21', 'dxpoa22', 'dxpoa23', 'dxpoa24', 'dxpoa25', 'dxpoa26', 'dxpoa27', 'dxpoa28', 'dxpoa29', 'dxpoa3', 'dxpoa30', 'dxpoa31', 'dxpoa32', 'dxpoa33', 'dxpoa34', 'dxpoa35', 'dxpoa36', 'dxpoa37', 'dxpoa38', 'dxpoa39', 'dxpoa4', 'dxpoa40', 'dxpoa41', 'dxpoa42', 'dxpoa43', 'dxpoa44', 'dxpoa45', 'dxpoa46', 'dxpoa47', 'dxpoa48', 'dxpoa49', 'dxpoa5', 'dxpoa50', 'dxpoa51', 'dxpoa52', 'dxpoa53', 'dxpoa54', 'dxpoa55', 'dxpoa56', 'dxpoa57', 'dxpoa59', 'dxpoa6', 'dxpoa60', 'dxpoa7', 'dxpoa8', 'dxpoa9', 'e_poa2', 'female', 'hcup_ed', 'hispanic_x', 'hospitalunit', 'hospst', 'i10_ndx', 'i10_npr', 'i10_proctype', 'los', 'maritalstatus_x', 'maritalstatusub04', 'mdc', 'medincstq', 'mrn_r', 'p7edsrc_x', 'pay1', 'pay1_x', 'pay2', 'pay2_x', 'pay3_x', 'payer1_x', 'payer2_x', 'pl_cbsa', 'pl_nchs', 'pl_rucc', 'pl_uic', 'pl_ur_cat4', 'pointoforigin_x', 'pointoforiginub04', 'primlang', 'pstate', 'race', 'totchg', 'totchg_x', 'visitlink', 'age_group']

In [95]:
df["los"].value_counts() # Treat as missing/null or drop because it his fake column

los
2      1090
3      1073
4       925
5       812
6       798
       ...
55        1
70        1
61        1
116       1
73        1
Name: count, Length: 68, dtype: int64

# other removed columns are here

In [96]:
# Display the updated DataFrame
df.shape

(8733, 113)

In [97]:
# save the DataFrame to a new CSV file
df.to_csv('../data/data/hot_encoding_Cancer_pancreas_cleaned.csv', index=False)

In [98]:
778 - 736

42

# Loading the data

In [99]:
# reorder column alphabetically
df = df.reindex(sorted(df.columns), axis=1)
df.head()

,age_group,atype,ayear,daystoevent,dig004,disp_x,dispub04,dispuniform,dqtr,drg,...,pl_uic,pl_ur_cat4,pointoforigin_x,pointoforiginub04,primlang,pstate,race,totchg,totchg_x,visitlink
0,2,1,2016,17082,0,60,0.0,1,1,375,...,5,3,0,0,eng,WV,1,5004,5004.03,11640858
1,2,1,2016,16659,0,60,0.0,1,1,437,...,2,2,0,0,eng,MD,1,7117,7117.08,11641343
2,4,1,2016,19672,0,29,0.0,5,1,435,...,2,2,0,0,eng,PA,1,10080,10079.80,11641635
3,4,1,2016,19676,0,70,0.0,20,1,377,...,2,2,0,0,eng,PA,1,1215,1214.72,11641635
4,3,1,2016,17436,0,61,0.0,6,1,180,...,2,2,0,0,eng,MD,1,17031,17031.09,3168104

In [100]:
len(df["visitlink"].value_counts())

5184

In [101]:
import pandas as pd

# Save column names to an Excel file
column_names = pd.DataFrame(df.columns, columns=["Column Names"])
column_names.to_excel('../data/data/hot_encoding_Cancer_pancreas_columns.xlsx', index=False)

# save as md file
with open('../data/data/hot_encoding_Cancer_pancreas_columns.md', 'w') as f:
    f.write('# Column Names\n\n')
    for col in df.columns:
        f.write(f'- {col}\n')

In [102]:
len(df["visitlink"].unique())

5184

In [103]:
df["race"].value_counts()

race
1    5383
2    2568
4     269
3     268
6     151
0      78
5      16
Name: count, dtype: int64

# Table one



from tableone import TableOne
columns = ['male', 'age' , 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds', 'prevalentStroke', 'prevalentHyp', 'diabetes' , 'BMI', 'heartRate', 'glucose', 'TenYearCHD']

categorical = ['male', 'education', 'currentSmoker', 'BPMeds', 'prevalentStroke', 'prevalentHyp', 'diabetes' , 'BMI']

groupby = ['TenYearCHD']
# nonnormal = ['male']
labels={'death': 'mortality'}
mytable = TableOne(df, columns=columns, categorical=categorical, groupby=groupby,  rename=labels, pval=True ,htest_name=True)

print(mytable.tabulate(tablefmt = "fancy_grid"))

mytable.to_excel('./data/mytable.xlsx')

In [ ]:
#Shape of dataset

print ('No. of Records :', df.shape[0], '\nNo. of Features : ', df.shape[1])

In [ ]:
#Let us check datset's attribute info
df.info()

### Data Cleansing and EDA

In [ ]:
#Examining Null values in each feature and add percentage of null values side by side

null_values = df.isnull().sum()
null_values_percent = 100 * df.isnull().sum()/len(df)

null_df = pd.concat([null_values, null_values_percent], axis=1)
null_df.columns = ['Null Values', 'Null Values Percent']
null_df

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming df is your DataFrame
sns.set_context('talk')
plt.figure(figsize=(24, 8))

# Calculate the correlation matrix
correlation_matrix = df.corr()

# Create a mask to hide the upper-right portion of the heatmap
mask = np.triu(np.ones_like(correlation_matrix, dtype=bool))

# Plot the heatmap with the mask
sns.heatmap(correlation_matrix, annot=True, cmap='cool', mask=mask , fmt='.3f' , linewidths=2 , linecolor='white' , cbar=False)

plt.show();

# remove cigsPerDay and CurrecntSmoker are highly correlated. exclude CurrecntSmoker from final model
# remove sysBP and diaBP are highly correlated. exclude diaBP from final model. exclude sysBP from final model.

In [ ]:
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

# Example correlation matrix
corr_matrix = df.corr() 

# Create mask to not repeat upper and lower triangles
mask = np.triu(np.ones_like(corr_matrix, dtype=bool))

# Customize the heatmap 
fig, ax = plt.subplots(figsize=(40, 10)) # Make figure wider
cmap = sns.diverging_palette(230, 24, as_cmap=True) 

# Draw the heatmap with mask and annot=True
sns.heatmap(corr_matrix, mask=mask, cmap=cmap, vmax=1, center=0, square=True, 
            linewidths=.5, cbar_kws={"shrink": .5}, annot=True, 
            annot_kws={"size": 8}) # Make font smaller

# Loop through the correlation matrix and add p-values
for i in range(len(corr_matrix.columns)):
    for j in range(i):
        r = corr_matrix.iloc[i, j]
        p = stats.t.sf(np.abs(r*np.sqrt((len(df)-2)/(1-r**2))), len(df)-2)*2
        corr_matrix.iloc[i, j] = str(round(r,2)) + '\n' + '(p=' + str(round(p,3)) + ')'
        
plt.show();

In [ ]:
#Descriptive Stats

df.describe()

In [ ]:
# CHD by Gender Viz.
sns.catplot(x='male', hue='TenYearCHD', data=df, kind='count', palette='Dark2', height=6, legend=False)
plt.xlabel('Gender')
plt.xticks(ticks=[0, 1], labels=['Female', 'Male'])
plt.ylabel('No. of Patients')
plt.legend(['0', '1'])
plt.title('CHD by Gender')
plt.show();